<div class="container">

  <div class="kontakt">
    <div *ngIf="user$ | async as user" class="d-flex justify-content-end">
      <a  routerLink="manage" class="text-center text-md-left btn-submit">
        Spravovať správy
      </a>
    </div>
    <h1 class="h1-responsive">
      Kontakt
    </h1>

    <div class="container">
      <div class="mb-4 contact-form">
        <p class="text-center w-responsive mx-auto mb-5">
          Ak máte akékoľvek otázky neváhajte nás kontaktovať pomocou formulára nižšie. Náš tím Vám odpovie do niekoľkých
          hodín.
        </p>

        <form (submit)="submit(form)"
              #form=ngForm [class.was-validated]="form.submitted || form.touched">
          <div class="row">

            <div class="col-md-6">
              <div class="md-form mb-0">
                <label class="" for="name">Meno</label>
                <input class="form-control" id="name" name="name" type="text" [(ngModel)]="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label class="" for="email">Email</label>
                <input class="form-control" id="email" name="email" type="text" [(ngModel)]="email">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label class="" for="subject">Predmet</label>
                <input class="form-control" id="subject" name="subject" type="text" [(ngModel)]="subject">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="md-form">
                <label for="message">Vaša správa</label>
                <textarea class="form-control md-textarea" id="message" name="message" rows="2" [(ngModel)]="message"></textarea>
              </div>

            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="text-center text-md-left btn-submit">
              Odoslať
            </button>
          </div>
        </form>


        <div class="status"></div>

      </div>
      <div class="row">
        <div class="col-md-5 row card-contact shadow">
          <div class="col-2 contact-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="col-10">
            <h2>
              Adresa
            </h2>
            <p>Martinus, s.r.o.</p>
            <p>Gorkého 4</p>
            <p>036 01 Martin</p>
            <br>
            <p>
              <span>IČO</span>
              45 503 249
            </p>
            <p>
              <span>DIČ</span>
              2023008911
            </p>
            <p>
              <span>IČ DPH</span>
              SK2023008911
            </p>
          </div>
        </div>
        <div class="col-md-5 card-contact row shadow">
          <div class="col-2 contact-icon">
            <i class="bi bi-credit-card-2-back"></i>
          </div>
          <div class="col-10">
            <h2>
              Platobné údaje
            </h2>
            <p>
                                <span>
                                    <i class="bi bi-telephone-fill"></i>
                                </span>
              <a href="callto:041/7632130">041 / 7632 130</a>
            </p>
            <p>
                            <span>
                                Číslo účtu
                            </span>
              0352363833/0900
            </p>
            <p>
                            <span>
                                 IBAN
                            </span>
              SK28 0900 0000 0003 5236 3833
            </p>
            <p>
              <span>BIC</span>
              GIBASKBX
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mapa">
      <h3>
        Kde nás nájdete?
      </h3>
      <iframe allowfullscreen=""
              class="shadow"
              height="300" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2613.596953675606!2d18.91097941573835!3d49.07529547930936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714ff29251cdb8d%3A0x5e71e61b3610650!2zR29ya8OpaG8gNCwgMDM2IDAxIFrDoXR1csSNaWU!5e0!3m2!1sen!2ssk!4v1665909561450!5m2!1sen!2ssk" style="border:0;"
              width="400"></iframe>
    </div>
  </div>
</div>

<div *ngIf="user$ | async as user; else loginTmp" class="d-flex justify-content-end">
  <a class="btn-submit" (click)="logout()" routerLink="../logout">Logout</a>
</div>

<ng-template #loginTmp>
  <div class="d-flex justify-content-end">
    <a class="btn-submit" routerLink="../login">Login</a>
  </div>
</ng-template>

