a {
  text-decoration: none;
}

h2 {
  color: var(--gray);
}

.contact-form p,.contact-form label {
  font-size: .9rem;
  color: var(--gray);
}

.contact-form input[type="text"], .contact-form textarea{
  margin-bottom: 1rem;
}

form {
  width: 80%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.btn-submit {
  color: var(--natural);
  padding: .375rem .5rem;
  font-size: 1.2rem;
  background-color: var(--red);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border: none;
}

.btn-submit:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  cursor: pointer;
  color: var(--natural);
}

@media (min-width: 800px) {
  .kontakt iframe {
    width: 60%;
    height: 450px;
  }
  form {
    width: 50%;
  }
}

.name {
  font-size: .8rem;
  color: var(--gray);
}

.remove {
  font-size: 1.2rem;
  color: var(--red);
}

.remove:hover {
  cursor: pointer;
}
