<p *ngIf="reservationLength > 0" class="reservation-info">
  <a routerLink="../reservation">
    Dokončiť rezerváciu, počet kníh:
    <span>
      {{reservationLength}}
    </span>
  </a>
</p>
<div class="search d-flex justify-content-around">
  <h1>Knihy</h1>
</div>
<div *ngIf="user$ | async as user" class="administration d-flex justify-content-center">
  <a class="btn btn-submit" routerLink="new">Nová kniha</a>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div *ngFor="let book of books" class="col author-detail">
      <div class="row d-flex align-items-center">
        <div class="col-3 author-photo">
          <img src="../../assets/img/book.jpg" alt="fake img">
        </div>
        <div class="col-9 author-card">
          <h3 class="cursor-pointer" [routerLink]="[book.id, 'detail']">{{book.title}}</h3>
          <h4 >
            <a *ngFor="let author of book.authors" [routerLink]="'../authors/' + author.id + '/detail'">
              {{author.name + ' ' + author.lastName}}
            </a>
          </h4>
          <p>
            {{cutString(book.info)}}
            <a [routerLink]="[book.id, 'detail']">
              viac
            </a>
          </p>
        </div>
      </div>
      <div *ngIf="user$ | async as user" class="admin_buttons d-flex justify-content-end">
        <a class="author_icon" [routerLink]="[book.id, 'edit']"><i class="bi bi-pencil-fill"></i></a>
        <a class="author_icon" (click)="delete(book)"><i class="bi bi-trash-fill"></i></a>
      </div>
    </div>
  </div>

  <div class="quote">
    <h4>
      „Na ty, kteří jsou jiní, číhá nebezpečí za každým rohem. A co byla naše rodina - já s křídly,
      Henry s němým jazykem a matka se zlomeným srdcem - než skupinka podivných bytostí?"
    </h4>
    <p>
      Leslye Walton
    </p>
  </div>
</div>
