<div class="kontakt">
  <h1 class="h1-responsive">
    Prijaté správy
  </h1>
  <div class="container">
    <div class="form-check d-flex justify-content-end contact-check">
      <input class="form-check-input" type="checkbox"  id="flexCheckDefault" (change)="showAll()">
      <label class="form-check-label ms-1" for="flexCheckDefault">
        Len nevyriešené
      </label>
    </div>
    <div *ngFor="let contact of contacts" >
      <div *ngIf="allOptions || !contact.solved" [ngClass]="{'solved': contact.solved}"
           class="row d-flex justify-content-center align-items-center contact-main">
        <div class="col-10 contact-manage">
          <h4>
            {{contact.name}}
            <span>
              {{contact.email}}
            </span>
          </h4>
          <h5>
            {{contact.subject}}
          </h5>
          <p>
            {{contact.message}}
          </p>
        </div>
        <div *ngIf="contact.solved == false" class="col-1 admin_buttons">
          <a class="author_icon" (click)="delete(contact)"><i class="bi bi-trash-fill"></i></a>
        </div>
        <div class="col-1 admin_buttons">
          <a class="author_icon" (click)="solve(contact)"><i class="bi bi-x-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
