@import "variables.css";
@import "menu.css";

body {
    background-color: var(--natural);
}

a {
    text-decoration: none;
}

.kontakt h1{
    color: var(--brown);
    text-align: center;
}

.kontakt .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-contact {
    background-color: var(--brown);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.kontakt span {
    color: var(--natural);
    font-size: 0.9rem;
    margin-right: 1rem;
}

.kontakt h2 {
    color: var(--natural);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.kontakt p {
    padding: 0 ;
    color: var(--gray);
}

.kontakt p a {
    color: var(--gray);
}

.mapa {
    margin-top: 3rem;
    text-align: center;
    color: var(--gray);
}

.contact-form p,.contact-form label {
    font-size: .9rem;
    color: var(--gray);
}

.contact-form input[type="text"], .contact-form textarea{
    margin-bottom: 1rem;
}

.btn-submit {
    color: var(--natural);
    padding: .375rem .5rem;
    font-size: 1.2rem;
    background-color: var(--red);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.btn-submit:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    cursor: pointer;
    color: var(--natural);
}

.contact-icon {
    color: var(--red);
    font-size: 3rem;
}

@media (min-width: 800px) {
    .kontakt iframe {
        width: 60%;
        height: 450px;
    }
}

