<div class="search d-flex justify-content-around">
  <h1>Autori</h1>
</div>
<div *ngIf="user$ | async as user" class="administration d-flex justify-content-center">
  <a class="btn btn-submit" routerLink="new">Nový autor</a>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div *ngFor="let author of authors" class="col author-detail">
      <div class="row d-flex align-items-center">
        <div class="col-3 author-photo">
          <img src="../../assets/img/face.jpg" alt="fake img">
        </div>
        <div class="col-9">
          <h3 class="cursor-pointer" [routerLink]="[author.id, 'detail']">{{author.name + ' ' + author.lastName}}</h3>
          <p>
            {{cutString(author.info)}}
            <a *ngIf="author.info.length > 180" [routerLink]="[author.id, 'detail']">
              viac
            </a>
          </p>
        </div>
      </div>
      <div  class="author-books d-flex justify-content-start">
        <div *ngFor="let book of author.authorBooks " class="d-flex flex-column align-items-center">
          <img src="../../assets/img/book.jpg" alt="fake img" >
          <a [routerLink]="'../books/' + book.id + '/detail'" class="text-center">
            <span>
              {{book.title}}
            </span>
          </a>
        </div>
        <div *ngIf="author.authorBooks.length == 0">
          <p>Od tohto autora neevidujeme žiadne knihy</p>
        </div>
      </div>
      <div *ngIf="user$ | async as user" class="admin_buttons d-flex justify-content-end">
        <a class="author_icon" [routerLink]="[author.id, 'edit']"><i class="bi bi-pencil-fill"></i></a>
        <a class="author_icon" (click)="delete(author)"><i class="bi bi-trash-fill"></i></a>
      </div>
    </div>
  </div>

  <div class="quote">
    <h4>
      „Na ty, kteří jsou jiní, číhá nebezpečí za každým rohem. A co byla naše rodina - já s křídly,
      Henry s němým jazykem a matka se zlomeným srdcem - než skupinka podivných bytostí?"
    </h4>
    <p>
      Leslye Walton
    </p>
  </div>
</div>
