<div class="home-banner">
  <h3>
    My sme
    <span>
            experta
        </span>
  </h3>
</div>
<div class="container home-info">
  <h2>
    O nás
  </h2>
  <p>
    Víziou Experta je vytvoriť najlepší internetový obchod s knihami, hudbou a filmami.
    Chceme ľuďom prinášať “kamenný” obchod na internete, vnášať do neho čo najviac
    príjemných emócií z reálneho sveta a hľadať nové spôsoby interakcie medzi ľuďmi.
    Tovar, ktorý predávame, je iba nosič – to skutočné, čo chceme ponúkať, sú myšlienky,
    zážitky, nové poznatky, relax… Pohodlne, kedykoľvek a kdekoľvek.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque eius enim harum iste maiores numquam provident qui, repudiandae veritatis.
  </p>
</div>
<div class="container-fluid">
  <div class="home-reached row">
    <div class="col-sm-4 text-center">
      <i class="bi bi-book-half"></i>
      <h5>
        {{this.booksCount}}
      </h5>
      <h6>Kníh</h6>
    </div>
    <div class="col-sm-4 text-center">
      <i class="bi bi-person-fill"></i>
      <h5>
        {{this.authorsCount}}
      </h5>
      <h6>Autorov</h6>
    </div>
    <div class="col-sm-4 text-center">
      <i class="bi bi-card-image"></i>
      <h5>
        {{this.genresCount}}
      </h5>
      <h6>Žánrov</h6>
    </div>
  </div>
</div>
<div class="container home-info">
  <h2>
    Náš príbeh
  </h2>
  <p>
    História značky Experta sa začala písať už v roku 1990. Vtedy v Martine založili
    bratia Miroslav a Jozef Santusovci jedno z prvých súkromných kníhkupectiev na
    Slovensku. Kníhkupectvo začínalo v malinkých priestoroch, sotva pár metrov
    štvorcových.
  </p>
  <p>
    Knihy sme si vozili sami – najmä z Bratislavy a Čiech. Neskôr sa
    Martinus presťahoval do budovy Divadla Slovenského národného povstania, kde
    kníhkupectvo pôsobilo dlhé roky. Odtiaľ sa v roku 2004 kvôli rekonštrukcii divadla
    presunulo o pár sto metrov ďalej na martinskú pešiu zónu do nových priestorov, kde
    ho nájdete dodnes. Martinus sa medzi domácimi rýchlo stal synonymom kníhkupectva
    stále sa teší veľkej obľube nielen u Martinčanov.
  </p>
  <p>
    je dnes najväčším internetovým kníhkupectvom na Slovensku a druhým najväčším predajcom
    kníh celkovo. Viackrát získal v nezávislých prieskumoch ocenenie “najlepší” aj
    “najobľúbenejší” internetový obchod na Slovensku. Pre nás je však najdôležitejšie,
    že pravidelne získavame to najcennejšie: vašu dôveru. Tisíce príbehov.
    Jedno kníhkupectvo. Kráčame ďalej…
  </p>
</div>
<div class="container-fluid home-awards">
  <div class="container">
    <h2>
      Ocenenia
    </h2>
    <div *ngFor="let award of awards" class="row shadow d-flex align-items-center">
      <div class="col-3 text-center">
        <i class="bi bi-award-fill"></i>
      </div>
      <div class="col-8">
        <p [ngClass]="{'high': award.priority === 1, 'medium': award.priority === 2, 'low': award.priority === 3}">
          {{award.name}}
        </p>
      </div>
      <div *ngIf="user$ | async as user" class="col-1">
        <a class="delete_icon" (click)="delete(award)">
          <i class="bi bi-trash-fill"></i>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-submit" routerLink="new-award">Pridať ocenenie</a>
    </div>
  </div>
</div>
